<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css.css">
	<style>
		body{
			background-color: rgb(224 223 221);
		}
		.nav{
			overflow: hidden;
			background-color: #000;
		}
		.nav a{
			background-color: #000;
			text-align: center;
			display: block;
			float: left;
			text-decoration: none;
			padding: 14px 16px 14px 20px;
			color: white;
		}
		.kkd {
			text-align: center;
			padding: 50px 160px 30px 160px;
			background-color: rgb(232 213 163);
        }
        .overlay {
            position: absolute;
			top: 20%;
			
            bottom: 0;
            left: 3.5%;
            right: 0;
            background-color: #668ad8;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: .9s ease;
        }

        .kkd:hover .overlay {
           transform: scale(0.5);
        }
            
        .text {
                color: white;
               
               
                
                text-align: center;
}
        main{
			
			padding: 10px 190px 10px 190px;
		}
		footer{
			background-color: black;
			color: white;
   			padding: 30px 0px 30px 60px;
		}

		small{
			color: white;
		}
		.l{
			font-size: 1.7em;
			font-family: 'Montserrat', sans-serif;
			line-height: 2.5rem;
			color: #333;
		}
		.Quotes{
			font-size: 1.7rem;
			padding-top: 50px;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
		.buttun{
        background-color:darkorange;
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        cursor:pointer;
        text-shadow: #717171;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
	
    .footer {
            width: 100%;
            height: 100px;
            display: grid;
            color: white;
            grid-template-columns: 1fr 1fr 1fr;
            background-color:black;
        }
    
        .footer i {
            color: white;
            font-size: 1.5em;
            margin: 0px 20px;
            transition: 0.3s ease;
        }

        .footer i:hover {
            color: rgba(255,255,255,0.5);
        }

        .footer p{
            margin: 20px;
        }
		.backgroundd{
			width:100%;
    		height:100%;
    		background-size: cover;
    		margin-right: 0;
    		background-blend-mode: multiply;
    		background-color: rgba(0,0,0,0.75);
    		display: flex;
    		flex-direction: column;
			background-image: url(zanskar.jpg);
			margin-top: -25px;

			

		}
	</style>
	<meta charset="utf-8">
	<title>WELCOME TO Zanskar valley</title>
</head>
{{>navbar}}
<body>
	
    <div class="backgroundd">
		
	<header><h1 style="font-size: 32px; text-align: center; color: white; ">Ladakh</h1></header>
	
	<main>
		<div class="kkd">
			<div class="img">
					<img src="zanskar.jpg" width="900" height="500" style="border: 5px solid #555">
			</div>
            <div class="overlay">
                <div class="text" style="font-size: 30px; font-family: cursive;align-items: center;">
					<br>
                    The best Time to visit the Zanskar Valley.
                    <br>
					All workingDays(except Monday)
					<br>
                        The best days to visit this valleies are working days as there is heavy rush on holidays and weekends. There are lot of school trips also which add to the rush on weekends. 
                      <br>
                        If you are visiting Zanskar Valley on the weekend be sure to keep at least one to two hours for standing in the queue to enter the temple. The queuing system is not very efficient, especially during rush hours. Looks like somebody without the basic knowledge of queuing and operations research has managing it.
                       <br>
                       <br>
                       Visiting Hours (Opening & Closing hours):<br> The temple will open from 10 AM to 6:30 PM to better accommodate devotees and visitors and avoid potential crowding, a spokesperson of the temple said.
                       <br>
					   Zanskar Valley is open during all days of the week, you can plan your tour whenever you want.
				
				</div>
				</div>
            
			<div class="Quotes">
		 		<b><i><q>The Spiritual Capital of India</q></i></b>
			</div>
			<div class="l">
				<h3>lorem ipsum</h3>
				<p>Zanskar, Zahar (locally) or Zangskar, is a tehsil of the Kargil district, which lies in the Indian union territory of Ladakh. The administrative centre is Padum (former Capital of Zanskar). Zanskar, together with the neighbouring region of Ladakh, was briefly a part of the kingdom of Guge in Western Tibet. Zanskar lies 250 km south of Kargil town on NH301.

					<p>The Zanskar Range is a mountain range in the union territory of Ladakh that separates Zanskar from Ladakh. Geologically, the Zanskar Range is part of the Tethys Himalaya, an approximately 100-km-wide synclinorium formed by strongly folded and imbricated, weakly metamorphosed sedimentary series. The average height of the Zanskar Range is about 6,000 m (19,700 ft). Its eastern part is known as Rupshu. The town had a population of 20,000 in 2020
				</div>
		</div>
	</main>
	
    <div class="footer">
		<div style="display: flex; align-items: center; justify-content: flex-start">
		   
		   <a href="https://instagram.com/"> <i class="bi bi-instagram"></i></a>
			<a href="https://twitter.com/" ><i class="bi bi-twitter"></i></a>
			<a href="https://youtube.com/"><i class="bi bi-youtube"></i></a>
		</div>
	
		<div style="display: flex; align-items: center; justify-content: flex-start; font-size: 20px;">
			<p style="font-size: 12.5px;text-align: center;">This go india site promotes india to be a world class travel destination Through our exceptionally curated occasion bundles, we need to take you on an adventure where you personally enjoy with the stunning magnificence of India. We need you to observe sensational scenes that are a long ways past your creative ability.</p>
		</div>
	
		<div style="align-items: center; justify-content: center; display: flex;">
			<p>Enquiry</p>
			
			<p><a href="https://gmail.com/" style="color: gold;" >goindia@support.in</a></p>
		</div>
	
	</div>
  
		
	
	
</body>
</html>