<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css.css">
	<style>
		body{
			background-color: rgb(224 223 221);
		}
		.nav{
			overflow: hidden;
			background-color: #000;
		}
		.nav a{
			background-color: #000;
			text-align: center;
			display: block;
			float: left;
			text-decoration: none;
			padding: 14px 16px 14px 20px;
			color: white;
		}
		.kkd {
			text-align: center;
			padding: 50px 160px 30px 160px;
			background-color: rgb(232 213 163);
        }
        .overlay {
            position: absolute;
			top:15%;
            bottom:0;
            left: 0%;
            right: 5%;
            background-color:#668ad8;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: .9s ease;
        }

        .kkd:hover .overlay {
           transform: scale(0.5);
        }
            
        .text {
                color: rgb(248, 242, 242);
                text-align: center;
}
        main{
			
			padding: 10px 100px 10px 150px;
		}
		footer{
			background-color: black;
			color: white;
   			padding: 30px 0px 30px 60px;
		}

		small{
			color: white;
		}
		.l{
			font-size: 1.7em;
			font-family: 'Montserrat', sans-serif;
			line-height: 2.5rem;
			color: #333;
		}
		.Quotes{
			font-size: 1.7rem;
			padding-top: 50px;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
		.buttun{
        background-color:darkorange;
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        cursor:pointer;
        text-shadow: #717171;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
	
    .footer {
            width: 100%;
            height: 100px;
            display: grid;
            color: white;
            grid-template-columns: 1fr 1fr 1fr;
            background-color:black;
        }
    
        .footer i {
            color: white;
            font-size: 1.5em;
            margin: 0px 20px;
            transition: 0.3s ease;
        }

        .footer i:hover {
            color: rgba(255,255,255,0.5);
        }

        .footer p{
            margin: 20px;
        }
		.backgroundd{
			width:100%;
    		height:100%;
    		background-size: cover;
    		margin-right: 0;
    		background-blend-mode: multiply;
    		background-color: #668ad8;
    		display: flex;
    		flex-direction: column;
			background-image: url(Fatehpur-Sikri.jpg);
			margin-top: -25px;

			

		}
        
	</style>
	<meta charset="utf-8">
	<title>WELCOME TO Fatehpur sikri</title>
</head>
{{>navbar}}
<body>
	
    <div class="backgroundd">
	
	<header><h1 style="font-size: 32px; text-align: center; color: whitesmoke; ">Agra- Fatehpur sikri..!</h1></header>
	
	<main>
		<div class="kkd">
			<div class="img">
					<img src="fateh attr.jpg" width="900" height="500" style="border: 5px solid #555">
			</div>
            <div class="overlay" >
                <div class="text" style="font-size: 30px; font-family: cursive;align-items: center;">
                    <br>
                    The best Time to visit the Fatehpur sikri.
                    <br>
					Fatehpur Sikri is open from 9 am – 5 pm from Monday – Sunday and Museum is open from 9 am – 5 pm.
                    Museum is closed on Friday.

					<br>
                    The best time to visit Fatehpur Sikri is between autumn and winter as by this time the heat has ebbed and the weather is pleasant and perfect for sightseeing.

                      <br>
                      As April to July is the beginning of summer and even though the temperatures rise, the timing is perfect as the crowds begin to thin and good deals are available on hotels, and from August to October marks the beginning of monsoon in Fatehpur Sikri. Carry an umbrella or a raincoat and don’t let the rain dampen your spirit of travel.
                       <br>
                       <br>
                       Visiting Hours (Opening & Closing hours):<br> The Fatehpur sikri will open from 9 AM to 5 PM.
                       <br>
                       Museum in fatehpur sikri is closed on friday.
                
             </div>
              </div>
            
			<div class="Quotes">
		 		<b><i><q>Fatehpur Sikri is a town in the Agra District of Uttar Pradesh, India. The city itself was founded as the capital of Mughal Empire in 1571 by Emperor Akbar.</q></i></b>
			</div>
			<div class="l">
				<h3>Fatehpur sikri</h3>
				<p>
                    Fatehpur Sikri, , a city predominantly in red sand-stone, situated at a distance of 37 kms from Agra, was built by the Mughal Emperor Jalal-ud-din Mohammad Akbar, in honour of the great Sufi saint Sheikh Salim Chisti ; its magnificence and uniqueness offers a fine example of the emperor's architectural finesse.
                </p>
                <p>
                    Fatehpur Sikri is enclosed by a 11 kms long fortification wall interspersed with numerous gateways. The remains of the great city; the Imperial Palace Complex, the intricately built marble tomb of the great Sufi saint, Sheikh Salim Chisti and the grand mosque are second only to The Taj Mahal, a benchmark of architectural beauty.A rich imagination is all it takes to transport any visitor to the era of gold tapestry, drapes, rich plush carpets and the royalty of the Mughal courts.
                </p>
             </div>
				
		</div>
	</main>
	
    <div class="footer">
		<div style="display: flex; align-items: center; justify-content: flex-start">
		   
		   <a href="https://instagram.com/"> <i class="bi bi-instagram"></i></a>
			<a href="https//twitter.com/" ><i class="bi bi-twitter"></i></a>
			<a href="https//youtube.com/"><i class="bi bi-youtube"></i></a>
		</div>
	
		<div style="display: flex; align-items: center; justify-content: flex-start; font-size: 20px;">
			<p style="font-size: 12.5px;text-align: center;">This go india site promotes india to be a world class travel destination Through our exceptionally curated occasion bundles, we need to take you on an adventure where you personally enjoy with the stunning magnificence of India. We need you to observe sensational scenes that are a long ways past your creative ability.</p>
		</div>
	
		<div style="align-items: center; justify-content: center; display: flex;">
			<p>Enquiry</p>
			
			<p><a href="https://gmail.com/" style="color: gold;" >goindia@support.in</a></p>
		</div>
	
	</div>
  
		
	
	
</body>
</html>