<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css.css">
	<style>
		body{
			background-color: rgb(224 223 221);
		}
		.nav{
			overflow: hidden;
			background-color: #000;
		}
		.nav a{
			background-color: #000;
			text-align: center;
			display: block;
			float: left;
			text-decoration: none;
			padding: 14px 16px 14px 20px;
			color: white;
		}
		.kkd {
			text-align: center;
			padding: 50px 160px 30px 160px;
			background-color: rgb(232 213 163);
        }
        .overlay {
            position: absolute;
			top:14%;
            bottom:0;
            left: 0;
            right: 0;
            background-color: #668ad8;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: .9s ease;
        }

        .kkd:hover .overlay {
           transform: scale(0.5);
        }
            
        .text {
                color: white;
                text-align: center;
}
        main{
			
			padding: 10px 190px 10px 190px;
		}
		footer{
			background-color: black;
			color: white;
   			padding: 30px 0px 30px 60px;
		}

		small{
			color: white;
		}
		.l{
			font-size: 1.7em;
			font-family: 'Montserrat', sans-serif;
			line-height: 2.5rem;
			color: #333;
		}
		.Quotes{
			font-size: 1.7rem;
			padding-top: 50px;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
		.buttun{
        background-color:darkorange;
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        cursor:pointer;
        text-shadow: #717171;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
	
    .footer {
            width: 100%;
            height: 100px;
            display: grid;
            color: white;
            grid-template-columns: 1fr 1fr 1fr;
            background-color:black;
        }
    
        .footer i {
            color: white;
            font-size: 1.5em;
            margin: 0px 20px;
            transition: 0.3s ease;
        }

        .footer i:hover {
            color: rgba(255,255,255,0.5);
        }

        .footer p{
            margin: 20px;
        }
		.backgroundd{
			width:100%;
    		height:100%;
    		background-size: cover;
    		margin-right: 0;
    		background-blend-mode: multiply;
    		background-color: #668ad8;
    		display: flex;
    		flex-direction: column;
			margin-top: -25px;
			background-image: url(india-gate.jpg);

			

		}
	</style>
	<meta charset="utf-8">
	<title>WELCOME TO India Gate</title>
</head>
{{>navbar}}
<body>
	
    <div class="backgroundd">
	

	<header><h1 style="font-size: 32px; text-align: center; color: aliceblue;">Delhi- India Gate...!</h1></header>
	
	<main>
		<div class="kkd">
			<div class="img">
					<img src="india-gate.jpg" width="900" height="500" style="border: 5px solid #555">
			</div>
            <div class="overlay">
                <div class="text" style="font-size: 30px; font-family: cursive;align-items: center;">
                  <br>
                    The best Time to visit the India Gate
					<br>All workingDays
                <br>
            The monument is open all day on all days of the week. This is when the structure is lit up and there
             are many street food vendors around.. There are lot of school trips also which add to the rush on weekends. 
                    
                    <br>
                            The best time to visit India Gate is in spring from February to April and in autumn from 
                            August to November.
                            <br>
                             Winters and summers experience extreme temperatures thus making sightseeing difficult.
                           <br>
                            On the other hand, during spring, the temperature remains constant, and the flowers are
                             blooming in the area around the Gate. During autumn, the aura around India Gate is pleasant and upholstering, thus making this time appropriate for visits.
					
                    <br>
                    <br>
                        Visiting Hours (Opening & Closing hours):<br> the best time to visit India Gate is  07:00 PM and 09:30 PM.
                        <br>
                        The timings for the light show at India Gate is between 07:00 PM and 09:30 PM 
                    
                
             </div>
              </div>
            
			<div class="Quotes">
		 		<b><i><q>India Gate, an important monument of the city, is a memorial built in commemoration of more than 80,000 Indian soldiers who were killed during World War I</q></i></b>
			</div>
			<div class="l">
				<h3>India Gate</h3>
				<p>
                    India Gate, an important monument of the city, is a memorial built in commemoration of more than 80,000 Indian soldiers who were killed during World War I. The monument is an imposing 42 meters high arch and was designed by the famous architect Edwin Lutyens. India gate was earlier named All India War Memorial. The design of India gate is almost similar to its French counterpart war memorial, the Arc-de-Triomphe.
                </p>
                <p> The building is made of red stone that rises in stages into a huge moulding. On top of the arch, INDIA is written on both sides. Names of over 70,000 Indian soldiers are inscribed on the walls of the monument in whose memory it is built. There is a shallow domed bowl at the top, which was intended to be filled with burning oil at special occasions.
                </p>
                <p>
                    At the base of the India gate there is another memorial, the Amar Jawan Jyoti that was added after independence. This eternal flame was lighted in commemoration of the unknown soldiers who laid their lives to serve this nation.
                </p>

			
                    </div>
				
		</div>
	</main>
	
    <div class="footer">
		<div style="display: flex; align-items: center; justify-content: flex-start">
		   
		   <a href="https://instagram.com/"> <i class="bi bi-instagram"></i></a>
			<a href="https://twitter.com/" ><i class="bi bi-twitter"></i></a>
			<a href="https://youtube.com/"><i class="bi bi-youtube"></i></a>
		</div>
	
		<div style="display: flex; align-items: center; justify-content: flex-start; font-size: 20px;">
			<p style="font-size: 12.5px;text-align: center;">This go india site promotes india to be a world class travel destination Through our exceptionally curated occasion bundles, we need to take you on an adventure where you personally enjoy with the stunning magnificence of India. We need you to observe sensational scenes that are a long ways past your creative ability.</p>
		</div>
	
		<div style="align-items: center; justify-content: center; display: flex;">
			<p>Enquiry</p>
			
			<p><a href="https://gmail.com/" style="color: gold;" >goindia@support.in</a></p>
		</div>
	
	</div>
  
		
	
	
</body>
</html>