<!DOCTYPE html>
<html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="css.css">
	<style>
		body{
			background-color: rgb(224 223 221);
		}
		.nav{
			overflow: hidden;
			background-color: #000;
		}
		.nav a{
			background-color: #000;
			text-align: center;
			display: block;
			float: left;
			text-decoration: none;
			padding: 14px 16px 14px 20px;
			color: white;
		}
		.kkd {
			text-align: center;
			padding: 50px 160px 30px 160px;
			background-color: rgb(232 213 163);
        }
        .overlay {
            position: absolute;
			top:17%;
            bottom:0;
            left: 0;
            right: 0;
            background-color: #668ad8;
            overflow: hidden;
            width: 100%;
            height: 100%;
            transform: scale(0);
            transition: .9s ease;
        }

        .kkd:hover .overlay {
           transform: scale(0.5);
        }
            
        .text {
                color: white;
                text-align: center;
}
        main{
			
			padding: 10px 190px 10px 190px;
		}
		footer{
			background-color: black;
			color: white;
   			padding: 30px 0px 30px 60px;
		}

		small{
			color: white;
		}
		.l{
			font-size: 1.7em;
			font-family: 'Montserrat', sans-serif;
			line-height: 2.5rem;
			color: #333;
		}
		.Quotes{
			font-size: 1.7rem;
			padding-top: 50px;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
		.buttun{
        background-color:darkorange;
        border: none;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        cursor:pointer;
        text-shadow: #717171;
        font-size: 16px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
	
    .footer {
            width: 100%;
            height: 100px;
            display: grid;
            color: white;
            grid-template-columns: 1fr 1fr 1fr;
            background-color:black;
        }
    
        .footer i {
            color: white;
            font-size: 1.5em;
            margin: 0px 20px;
            transition: 0.3s ease;
        }

        .footer i:hover {
            color: rgba(255,255,255,0.5);
        }

        .footer p{
            margin: 20px;
        }
		.backgroundd{
			width:100%;
    		height:100%;
    		background-size: cover;
    		margin-right: 0;
    		background-blend-mode: multiply;
    		background-color: #668ad8;
    		display: flex;
    		flex-direction: column;
			background-image: url(leh-palace-.jpg);
			margin-top: -25px;

			

		}

	</style>
	<meta charset="utf-8">
	<title>WELCOME TO Leh palace</title>
</head>
{{>navbar}}
<body>
	
    <div class="backgroundd">
	
	<header><h1 style="font-size: 32px; text-align: center; color: aliceblue; ">Ladakh- Leh Palace..!</h1></header>
	
	<main>
		<div class="kkd">
			<div class="img">
					<img src="leh-palace-.jpg" width="900" height="500" style="border: 5px solid #555">
			</div>
            <div class="overlay">
                <div class="text" style="font-size: 30px; font-family: cursive;align-items: center;">
                    <br>The best Time to visit the Lah Palace
					<br> Summer-It is the best time to visit
                    <br>
                        The best time to go to Leh Palace is throughout the summer period in the months of (May and June) provide the sights of vibrant scenery under the clear skies. Further, the post monsoon in the month of (Sep - Oct) are also taken into thought a good time visit this Royal Place.
					
                    <br>
                    The grand royal palace of Leh supervises the Namgyal hill existing atop the old Leh city. Cuddled in the lap of lovely landscapes, the Royal residence is a preferred traveler destination in Leh. The most essential hub of Buddhist culture and as well as religion provides stunning sights
                    <br>
                    Leh Palace is a former royal palace overlooking the town of Leh, Ladakh,Indian Himalayas
                     <br>
                       Visiting Hours (Opening & Closing hours):
                       <br>
                       Leh palace is open to visitors between 7 am and 4 pm every day.
                       <br>
                       Leh Palace is open during all days of the week, you can plan your Ladakh tour whenever you want.
                       
					
             </div>
              </div>
            
			<div class="Quotes">
		 		<b><i><q>Leh Palace is a former royal palace overlooking the town of Leh, Ladakh, in the Indian Himalayas</q></i></b>
			</div>
			<div class="l">
				<h3>Leh Palace</h3>
				<p>
                    Leh Palace was formed in the mold of Potala Royal residence of Lhasa and also lies on the Namgyal Hillside in Leh. It supervises Leh and also has numerous traditional influences, going back to centuries. As a spiritual and traditional hub of the Buddhist, Leh Palace is lot well-regarded as well as significantly a part of Leh's prominent face of travelers. It is a 9 storied structure that can be explore from a lot of parts of Leh.
                </p>
                <p>
                    Though Leh has now come to be a prominent traveler location and also some of it is still rooted in old practice as well as society; that's the charm of it. The palace is enforcing also from a distance. It loomed above Leh, like a universal figure
                </p>

			
                    </div>
				
		</div>
	</main>
	
    <div class="footer">
		<div style="display: flex; align-items: center; justify-content: flex-start">
		   
		   <a href="https://instagram.com/"> <i class="bi bi-instagram"></i></a>
			<a href="https://twitter.com/" ><i class="bi bi-twitter"></i></a>
			<a href="https://youtube.com/"><i class="bi bi-youtube"></i></a>
		</div>
	
		<div style="display: flex; align-items: center; justify-content: flex-start; font-size: 20px;">
			<p style="font-size: 12.5px;text-align: center;">This go india site promotes india to be a world class travel destination Through our exceptionally curated occasion bundles, we need to take you on an adventure where you personally enjoy with the stunning magnificence of India. We need you to observe sensational scenes that are a long ways past your creative ability.</p>
		</div>
	
		<div style="align-items: center; justify-content: center; display: flex;">
			<p>Enquiry</p>
			
			<p><a href="https://gmail.com/" style="color: gold;" >goindia@support.in</a></p>
		</div>
	
	</div>
  
		
	
	
</body>
</html>