<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
 <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
<link rel="style" href="/public/css/style.css">

<title>WELCOME TO GOINDIA..!</title>

</head>

<body>
    
    
        
        <div class="navbar">
             <div class='logo'>
                <span style="font-family:sans-serif, sans-serif;color: #668ad8;">
                     Go India
                    </span>
             </div>
             <div class="contents">
                <div class="home"> 
                    <a
                         class="buttooon" href="/index">Home
                    </a>
                </div > 
               <div class="aboutus">
                <a
                    class="buttooon" href="/aboutus">About us 
                </a>
    
               </div>
               <div class="Destinations">
                <select   class="dropdown"   onchange="city(event.target.value)">
                    <option  value='1'  > 
                    Destinations
                    </option>
                    <option  value='2'>
                        Delhi
                     </option>
                     <option  value='3' >
                         Jaipur
                      </option>
                      <option  value='4' >
                         Agra
                      </option>
                      <option  value='5' >
                         Mumbai
                      </option>
                      <option  value='6' >
                         Hyderabad
                      </option>
                      <option  value='7' >
                         Vishakapatnam
                      </option>
                      <option  value='8'>
                         Andaman
                      </option>
                      <option  value='9'>
                       Ladakh
                     </option>
                    
                  </select>
                 <script>
                    
                    function city(val){
                        if(val=='1'){
                           window.location='/home'
                        }
                        else if(val=='2'){
                            window.location='/delhi'
                        }
                        else if(val=='3'){
                            window.location='/jaipur'
                        }
                        else if(val=='4'){
                            window.location='/agra'
                        }
                        else if(val=='5'){
                            window.location='/mumbai'
                        }
                        else if(val=='6'){
                            window.location='/hyderabad'
                        }
                        else if(val=='7'){
                            window.location='/vishakapatnam'
                        }
                        else if(val=='8'){
                            window.location='/andaman'
                        }
                        else if(val=='9'){
                            window.location='/ladakh'
                        }

                    }
                     function myFunctionh(){
                         window.location='Home.html'
                     }
                     function myFunctiona(){
                         window.location='my.aboutus.html'
                     }
    
                 </script>
               
               </div>
                   
                   
             </div>
           
           
           
           
           
         </div>
</body>
</html>
    
         
    